@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,700&display=swap');

:root {  /*:root é usado para armazenar a variavel, começa com --nome_da_variavel*/
    --primary-color:   rgb(30, 100, 110);
    --primary-color-darker: rgb(50, 110, 180);
}

* {  /* Reseta o css geral*/
    box-sizing: border-box;
    outline: 0;
    }

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    font-family: 'Open sans', sans-serif ;
    font-size: 1.3em;
    line-height: 1.5em;
}


.container {
    max-width: 640px;
    margin: 50px auto;
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 20px;
    align-items: center;
}

#title {
    text-align: center;
}

.timer {
    text-align: center;
    font-size: 5rem;
    
}
button {
    width: 70px;
    border: none;
    border-radius: 10px;
    background-color: var(--primary-color);
    font-size: 18px;
    font-weight: 700px;
    height: 40px;
    margin-top: 10px;
    color: beige;
    transform: .5s;
}

button:hover {
    background-color: var(--primary-color-darker);
    
}

button:active {
    background-color: beige;
}

footer {
    max-width: 250px;
    margin: 10px auto;
    text-align: center;
    padding: 0;
    background-color: antiquewhite;
    border-radius: 5px 5px;
}

.pausado {
    background-color: brown;
}

