<form action="/cadastrado" method="post">
    <h3>Nome: </h3>
    <input type="text" name="nome">
    <h3>CPF: </h3>
    <input type="number" name="cpf">
    <h3>Email: </h3>
    <input type="text" name="email">
    <h3>Idade:</h3>
    <input type="number" name="idade">
    <button type="submit">Cadastrar</button>
</form>