body {
    background-color: black;
    font: normal 16pt "Arial";
}
header {
    background-color: antiquewhite;
    border-radius: 15px;
    margin: 10px auto;
    padding: 5px;
    width: 500px;
    text-align: center;
    box-shadow: 10px 10px 5px gray;
}
section {
    background-color: bisque;
    border-radius: 10px;
    width: 600px;
    padding: 10px;
    margin: auto;
    text-align: center;
    box-shadow: 10px 10px 5px gray;
}
footer {
    background-color: antiquewhite;
    border-radius: 10px;
    padding: 1px;
    width: 300px;
    margin: 15px auto;
    font-style: italic;
    text-align: center;
    box-shadow: 10px 10px 5px gray;
}