* {
    margin: 0;
    padding: 0;
}
/*
.box {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    margin: 0px;
}

.box1 {
    background-color: red ;
    left: 20px;
    top: 100px;
}

.box2 {
    background-color: green ;


}

.box3 {
    background-color: blue;
}*/
/*
page layouts

- tables
- floats e clear
- frameworks e grid systems
- flexbos
- grid

posicionamentos

controlar onde, na pagina, o elemento irá ficar,
alterando o fluxo dos elementos.

-name: position;
value: static | relative | absolute | fixed

por padrao vem com static // ficando um abaixo do outro

Relative // é referente a todos os outros elementos, ou seja, so e mexido o elemento, os ooutros ficam estaticos

propriedades do position 
top, right, left, bottom, z-index

Absolute // Seu posicionamento e referente a pagina inteira ou se tiver uma tag pai como relative, ou seja os outros elementos ocupam a posição vazia, trabalhando por baixo da camada

Fised // Seu posicionamento fica fixo na pagina ou com relação a tag pai, permitindo que os outros elementos se movimentem por baixo (traz) do elemento fixado

Propriedade z-index // se refere ao posicionamento da camada
trazendo para frente ou para traz dos outros elementos
*/
/*
.box4 {
    background-color: greenyellow;
    position: absolute;
    left: 200px;
    top: 5px;
    z-index: 3;
}

.box5 {
    background-color:purple;
    position: absolute;
    left: 210px;
    top: 10px;
    z-index: 2;
}

.box6 {
    background-color: pink;
    position: absolute;
    left: 215px;
    top: 15px;
    z-index: 1;
}*/

/*
Flexbox  // direcionamento 
Nos permite posicionar os elementos dendro da caixa
controle em uma dimensao (horizontal e vertical)
Alinhamento, direcionamento, ordenar e tamanhos

chave -> display: 
Valor -> flex
sintaxi display: flex;

*/

/*.container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flexbox {
    width: 100px;
    height: 100px;
    margin: 10px;
}*/

/*.flexbox1 {
    background-color: yellow;
}

.flexbox2 {
    background-color: brown;
}

.flexbox3 {
    background-color: gray;
}*/

/*
Grid

- Posicionamento dos elementos dentro da caixa
- Posicionamento horizontarl e vertical ao mesmo tempo
- pode ser flexivel ou fixo
- Cria espaços para os elementos filhso habitarem


*/

body {
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-areas: 
    "header header"
    "main aside"
    "footer footer";
    /*Sitaxi 
    linhas              1     2    3
    grid-template-rows: 50px 1fr 40px;
    
    colunas                 1   2
    grid-template-columns: 1fr 80px;
    */
    grid-template-rows: 50px 1fr 40px;
    grid-template-columns: 1fr 80px;
}

header {
    grid-area: header;
    background-color: green;
}
main {
    grid-area: main;
    background-color: yellow;
}

aside {
    grid-area: aside;
    background-color: brown;
}

footer {
    grid-area: footer;
    background-color: gray;
}