@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nerko+One&family=Titillium+Web&display=swap');

/*
Anatomia

selector {
    declaration é feita por propriedade e valor
    properties: property value;
}
Selectors
    conecta um elemento HTML com o CSS

Tipos
    global -> * 
    Element / Type selector -> h1, h2, p, div
    ID selector -> #box, #container
    Class selector -> .red, .m-4 
    Attribute selector, pseudo-class, pseudo-element, e outros

Agrupando propriedades para varios seletores
    h1, h2, p {

    }

Box-model
    caixas
        quase tudo sao caixas do css
        posicionamento, tamanhos, espaçamentos, bordas, cores
        caixas podem ficar uma do lado da outra


Adicionando CSS -> Existem 4 formas de se adicionar css

    inline -> é adicionado o atributo style na tag
        <h1 style="color: black">Titulo</h1>

    <style> -> é adicionado uma tag style na head do HTML

    link -> E utilizada a tag link:css onde temos atributos rel="com o typo do arquivo stylesheet" href="endereço do arquivo" 
    Ex: <style rel="stylesheet" href="style.css">

    @import -> Usado tambem para importar um arquivo css externo
        A importação e inserida no inicio arquivo css, e não no arquivo HTML como a tag style
        tambem usada para importar fontes, opu algum outro tipo externo
        OBS: Para fazer a importação de fontes, e recomendado fazer usando o link
            deixa o carregamento da pagina mais rapido

Hierarquia de força na origem, seguindo a ideia da cascata
    terá valor o que for lido por ultimo
    1 - inline
    2 - tag style no HTMl
    3 - Arquivo externo


Cascata - > faz a leitura do inicio para o fim

Especificidade:
        É um cálculo matemático,
        onde cada tipo de seletor e origem do estilo possuem valores a serem considerados. 
        
        Os mais fracos são universal selector, combinators e negation pseudo-class,
        com o valor de 0. Em seguida, com valor de 1, são os element type selector e pseudo-elements. 
        
        Também temos os classes e attribute selectors, com valor de 10, ou seja,
        são mais fortes que os anteriores. 
        
        O segundo mais forte, ID selector, com um valor de 100,
        vence todos os selectors anteriores. 
        
        Por fim, temos o inline, com o valor 1000, quaisquer desses selectors anteriormente citado

    Grau de força
    0 - Universal selector, combinators e negation pseudo-class (:not())
    1 - Element type selector e pseudo-elements (::before, ::after)
    10 - Classes e attribute selectors ([type="radio"])
    100 - ID Selector
    1000 - Inline

    Regra !important -> Evitar o uso dessa regra
    Não é considerada uma boa pratica
    e quebra o fluxo natural da cascata

Resumo: 
    A escolha do browser de qual regra aplicar, caso haja muitas regras para o mesmo elemento.
    * seu estilho é lido de cima para baixo.
    É levado em consideração 3 fatores
        1 - Origem do estilo
        2 - Especificidade
        3 - Importancia
    Origem do Estilo:
        inline > tag style > tag link

    Grau de força 
    0 - Universal selector, combinators e negation pseudo-class (:not()) 
    1 - Element type selector e pseudo-elements (::before, ::after) 
    10 - Classes e attribute selectors ([type="radio"]) 
    100 - ID Selector 1000 - Inline

At-rules
    Está relacionado ao comportamento do CSS
    Começa com o sinal de @ seguido do identificador e valor

    Exemplos
        @import  // inclui um css externo  com ou sem url()
        @media  // regras condicionais para dispositivos
            @media (min-width: 500px) {
                regras
            }
        @font-face  // fontes externas
            @font-face {
                regras
            }
        @keyframes  // Animation
            @keyframes nameofanimation {
                regras
            }

Shorthand -> É basicamente a ideia de junção de propriedades,
para que fiquem de forma resumida e legível. 
Abaixo um exemplo de propriedades com e sem o shorthand: {
        background properties 
    background-color: #000;
    background-image: url(images/bg.gif);
    background-repeat: no-repeat;
    background-position: left top;

       background shorthand
    background: #000 url(images/bg.gif) no-repeat left top;

     font properties 
    font-style: italic;
    font-weight: bold;
    font-size: .8em;
    line-height: 1.2;
    font-family: Arial, sans-serif;

     font shorthand 
    font: bold italic .8em/1.2 Arial, sans-serif;
}

Algumas das características do shorthand: 

Não irá considerar propriedades anteriores, ou seja, caso faça um shorthand, apenas ele será considerado, quaisquer propriedades anteriores serão substituídas pelas do shorthand. 

Os valores que não forem especificados irão assumir o valor padrão. 

Por fim, geralmente, a ordem descrita não importa, mas, caso haja muitas propriedades com valores semelhantes, poderemos encontrar problemas.

funçoes no css - > é usada nos parametros para efetuar calculos

Ex: 
h1 {
    width: calc(100% - 10px)  // irá calcular o valor de 100% menos 10px
}

devtools -> 

Vendor prefixes Descrição São coisas que permitem que browsers adiocionem features a fim de colocar em uso alguma novidade que vemos no CSS. 
Exemplos: 
p {
    -webkit-background-clip: text;  -  Chrome, Safari, iOS e Android
    -moz-background-clip: text;  -  Mozilla (Firefox)
    -ms-background-clip: text;  -  Internet Explorer ou Edge
    -o-background-clip: text;  -  Opera 
}
    Você também pode consultar se a feature pode ser utilizada através dos sites:

        https: //ireade.github.io/which-vendor-prefix

        https: //caniuse.com

        Discover - Todos os direitos reservados
*/

h1 {
    border: 1px solid black;
    text-align: center;
    width: 320px;
    margin: 15px 500px 50px;
    background-color: aquamarine;
    padding: 20px;
    box-sizing: border-box;
}

h2 {
    width: 250px;
    
    border: 1px solid black;
    text-align: center;
    width: 150px;
    padding: 30px 50px;
    
}

h1, h2 {
    display: block;
    
}
p strong, #p-1 em {
    color: royalblue;
    font-family: 'Nerko One', cursive;
}

#p-1 em {
    color: green;
    font-family: 'Nerko One', cursive;
}

/* 
=-==-=--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
box-sizing
Caracteristicas block {
    ocupa toda a lina, colocando o proximo elemento abaixo desse
    width e height são respeitados
    paddin, margin , border, irao funcionar normalmente
}

Como será calculado o tamanho total da caixa?
- content-box | border-box
O tamanho e referente ao content-box - ao conteudo da caixa
Sendo assim, tudo que for adicionado ao padding, será somado ao tamanho do content-box(conteudo da caixa)

Para utilizarmos o tamanho real da caixa, utilizamos o 
box-sizing: border-box;

uma boa pratica é colocar o tamanho do box no reset do css
* {
    box-sizing: border-box;
}
```

Caracteristicas inline {
    elemento ao lado do outro
    width e height não funiconam
    somente valores horizontais de margin, padding border irao funcionar
}
=-==-=--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
// margim
- margin-top | margin-right | margin-bottom | margin-left
- values: `<length>` em rem px | `<percetangem>` | auto
// margin collapsing
OBS: Cuidado com o margin collapsing (top se ajunda ao bottom)
OBS 2 : A regra acima não se aplica quando são inline(elas somam uma com a outra)
Ex: As margens não se soma uma com a outra, e prevalecerá o que tiver maior tamanho 

=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=-=-=-
 - Shorthand
 4 lados: margin: top | right | bottom | left
 3 lados: margin: top | laterais | bottom
 2 lados: margin: top e bottom | laterais
 1 lado: margin: todos

 margin auto / alinha o elemento ao meio da pagina

=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-==
São as bordas da caixa Documentação do MDN: https: //developer.mozilla.org/en-US/docs/Web/CSS/border

value: <border-style>| <border-width>| <border-color>
style: solid | dotted | dashed | double | groove | ridge | inset | outset 
width: <length>color: <color>

div {
     shorthand 
    border-top: solid 2px;  // top | right | bottom | left 

     style 
    border: solid;

     width <length> | style 
    border: 2px dotted;

     style | color 
    border: outset #f33;

     width | style | color
    border: medium dashed green;

}

E o outline? 
O outline é muito semelhante ao border,
mas difere em 4 sentidos: 

1 - Não modifica o tamanho da caixa, pois não é parte do Box Model
2 - Poderá ser diferente de retangular 
3 - Não permite ajuste individuais 
4 - Mais usado pelo user agent para acessibilidade

=-=-==-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

cores:

Tipos
1 - background-color (para caixas)
2 - color (para textos)
3 - border-color (para bordas caixar)
4 - outros

Valores
1 - palavra-chave (blue, transparent)
2 - hexadecimal (#326544)   // red, green, blue  alfa(transparencia)
3 - funções: rgb, rgba, hsl, hsla
    rgba(255, 0, 0, .5)  // red, green, blue, transparencia
    hsla(30, 100%, 50%, 0.6)  // hue, saturation, lumiance, transparencia

Valores globais
    color: inherit // herança, herdar a cor do elemnento anterior
    color: initial  // volta a cor inicial
    color: unset  // pega a cor do contexto que o elemento esta

        https: //developer.mozilla.org/en-US/docs/Web/CSS/color_value
        https: //convertacolor.com/

=-=-=-=-=--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-==
Background

- Define um fundo para o nosso elemento
- Sua area de atuação é a caixa toda
- por padrao, é transparente

Exe: 
Usar cores solidas 
Usar imagens 
Controlar 
    a posição das imagens,
    se elas se repetem ou não
    o tamanho delas na caixa 
Usar cor e imagem juntas 
Usar cor gradiente



*/
