/*
Animation delay
Descrição
animation-delay é uma propriedade CSS que permite atrasar o inicio de uma animação em uma escala de segundos
*/

.box-red {
    background-color: red;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: relative;
    animation: exemplo-2 10s;
    animation-delay: 10s;
}

@keyframes exemplo {
    from {
        background-color: aqua;
    }
    
    to {
        background-color: black;
    }
}

@keyframes exemplo-2 {
    0% {
        background-color: red;
        
        left: 0;
        top: 0;
    }

    25% {
        background-color: blue;
        top: 0px;
        left: 400px;
    }
    50% {
        background-color: yellow;
        left: 400px;
        top: 400px;
    }
    75% {
        background-color: black;

        top: 400px;
        left: 0px;
    }
    100% {
        background-color: red;

        left: 0px;
        top: 0px;
    }
}