.card {
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    width: 50%;
    border-radius: 5px;
    margin-bottom: 5px;
    background: purple;
    color: azure;
}