*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}

header {
    padding: 8px 0;
    background: #0aacdc;
}

.center {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.logo {
    width: 50%;
}

.logo h2 {
    color: white;
}

.form-busca {
    width: 50%;
    text-align: right;
    
}

.form-busca form {
    display: inline-block;
    position: relative;
    
}

.form-busca i {
    position: absolute;
    left: 10px;
    top: 10px;
    color: white;
    font-size: 20px;
}

.form-busca input {
    height: 40px;
    border: 0;
    font-size: 20px;
    color: white;
    background-color: #008bb4;
    padding-left: 40px;
    border-radius: 10px;
}

::placeholder{ 
    color: white;
    opacity: 1;

}

:-ms-input-placeholder {
    color: red;

}

::-ms-placeholder {
    color: red;
}

section.noticia-destaque {
    padding: 40px 0;
}

section.noticia-destaque > .center {
    max-width: 960px;
}
.img-destaque {
    width: 100%;
    position: relative;
}

.img-destaque img {
    width: 100%;
    border-radius: 20px;
}

.title-destaque-descricao {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 40px;
    max-width: 600px;
    color: white;
    z-index: 2;
}

.title-destaque-descricao h2 {
    font-size: 64px;
    margin: 20px 0;

}

.title-destaque-descricao p {
    font-weight: lighter;
    font-size: 16px;
}

.overlays-destaque {
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
    
}

section.outras-noticias {
    background-color: #eaeaea;
    padding: 30px 20px;
    text-align: center;
}

section.outras-noticias h2 {
    font-size: 54px;

}

.ultimas {
    width: 60%;
    padding: 0 10px;
    display: flex;
}

.box-ultimas-single {
    text-align: left;
    width: 48%;
    margin-right: 2%;
    background-color: white;
    padding-bottom: 20px;

    height: 100%;
    border-radius: 10px;
}

.box-ultimas-single img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.box-ultimas-single h3 {
    font-size: 16px;
    color: #334390;
    margin: 20px 0;
    
}

.box-ultimas-single h2 {
    color: #306336;
    font-size: 18px !important;
}

.box-ultimas-single p {
    color: #788591;
    font-size: 16px;
    margin: 20px 0;
}

.box-ultimas-single a {
    display: block;
    width: 181px;
    height: 56px;
    border: 1px solid #EBEBEB;
    color: #0AACdC;
    border-radius: 10px;
    text-decoration: none;
    line-height: 76px;
    text-align: center;
    font-size: 16px;
}
.conteudo-noticia-single {
    padding: 20px;
}
.mais-lidas {
    width: 40%;
}

.mais-lidas h3 {
    background: #3f5185;
    color: white;
    text-align: center;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.tema-mais-lidas {
    /* max-width: 493px; */
    margin: 0 30px;
    max-height: 189px;
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-top: 20px;
}
.box-tema {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.box-tema img {
    width: 50%;
    /* height: 189px; */
}

.text-tema {
    width: 50%;
    padding: 0 10px;
    font-size: 14px;
}

.text-tema h4 {
    margin-bottom: 10px;
    color: #40be65;
    letter-spacing: 3.2px;
}

.text-tema p {
    color: #7b8591;
    font-size: 14px
    
}

.text-tema a {
    display: block;
    width: 121px;
    height: 26px;
    border: 1px solid #EBEBEB;
    color: #0AACdC;
    border-radius: 10px;
    text-decoration: none;
    line-height: 76px;
    text-align: center;
    font-size: 12px;
}

@media screen and (max-width: 768px) {
    .logo, .form-busca {width: 100%;}
}
