<!DOCTYPE html>

<%- include('../partials/head'); %>

    <body class="container">

        <%- include('../partials/header', {pagina: 'Sobre'});%>

            <main>
                <div class="jumbotron">
                    <h1>Sobre Mim com EJS</h1>
                    <p>Mário Carvalho na Area Entrando na seguda pagina EJS</p>
                </div>
            </main>
        <%- include('../partials/footer'); %>
    </body>

    </html>