* {
    margin: 0;
    padding: 0;
}

nav {
    background: #8d9797;
    display: flex;
    padding: 50px;
    justify-content: space-between;
    align-items: center;
}

nav img {
    height: 40px;
}

ul {
    display: flex;
    align-items: center;
    gap: .8rem;
    list-style: none;
}

ul li:last-child {
    margin-left: 25px ;
    background: orange;
    border-radius: 10px;
    color: white;
    padding: 10px;
}