
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: white;


}

.light {
    --text-color: black;
}

body {
    /*
    background-image: url(./assets/bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    */

    /* 
    !shorthand ou atalho
    * background: color image repeat position/size;
    */
    background: url(./assets/bg-mobile.jpg) no-repeat top center/cover;
}

body * {
    font-family: 'Inter', sans-serif;
    color: var(--text-color);
}

#container {
    width: 360px;
    margin: 56px auto 0px;
    padding: 0 24px;
}

#profile {
    text-align: center;
    padding: 24px;
}

#profile img {
    width: 112px;
    display: block;
    margin: auto;
}

#profile p {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-top: 8px;
}

/* Links */

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 0;
}

ul li a{
    display: flex;
    justify-content: center;
    padding: 24px 16px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(4px);
    text-decoration: none;
    font-weight: 500;
    transition: background 0.5s;
}
/* pseudo-selector ou sudo-selector*/
ul li a:hover {
    background: rgba(255, 255, 255, 0.05);
    border: 1.5px solid var(--text-color);
}

/* Icons */
#social-icons {
    display: flex;
    justify-content: center;
    padding: 24px 0;
    font-size: 24px;
}

#social-icons a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    border-radius: 50%;
    transition: background 0.5s;
}

#social-icons a:hover {
    background: rgba(172, 171, 171, 0.5);
    transition: background 0.5s;
}

footer {
    text-align: center;
    padding: 24px 0;
    font-size: 14px;
}