<form action="/cadastrado" method="post">
    <h4>Nome: </h4>
    <input name="nome" type="text">

    <h4>CPF: </h4>
    <input name="cpf" type="number">

    <h4>Email: </h4>
    <input name="email" type="text">

    <h4>Idade: </h4>
    <input name="idade" type="numbe">

    <button type="submit">Cadastrar Aula 17</button>
</form>