<h1>Pagina principal Aula 17</h1>



<ul>
{{#each clientes}}
    <li>
    {{dataValues.nome}} <br>

    </li>
    <li>
    {{dataValues.cpf}} <br>

    </li>
    <li>
    {{dataValues.email}} <br>

    </li>
    <li>
    {{dataValues.idade}} <br>
        
    </li>
<br>
{{/each}}

</ul>