<h1>Pagina de Cadastro</h1>
<form action="/cadastrado" method="post">
    <h2>Nome: </h2>
    <input type="text" name="nome">
    <h2>CPF: </h2>
    <input type="number" name="cpf">
    <h2>Email: </h2>
    <input type="text" name="email">
    <h2>Idade: </h2>
    <input type="number" name="idade">
    <button type="submit">Cadastro aula 18</button>
</form>

