<h1>Aula 18 - Deletando arquivos</h1>
<a href="./cadastro" target="_blank" rel="noopener noreferrer">
<button>Ir para Cadastro</button></a>
<a href="./visual" target="" rel="noopener noreferrer">
<button>Visualizar Cadastrados</button></a>