
/* backgroun-attachement */

body {
    height: 200vh;
    width: 500px;
    
}

div {
    
    width: 300px;
    height: 300px;
    border: 15px dashed blue;
    background-image: url(https://img.freepik.com/fotos-premium/imagem-3d-de-uma-forma-de-ilha-tropical-flutuante_665280-6956.jpg?w=2000);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 30px;
    /*overflow: auto; Cria uma barra de rolagem dentro do elemento*/
    

}

#border-box {
    background-origin: border-box;
}
#padding-box {
   
    background-origin: padding-box;
}
#content-box {
    background-origin: content-box;
}

