* {
    margin: 0;
    padding: 0;
}
/* Exercicio Menu */
header {
    padding: 4rem;
    background: lightgrey;
}

img {
    width: 80px;
}
nav {
   display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: .8rem;
}

ul li:last-child {
    color: white;
    background: cyan;
    padding: .8rem;
}

/* Exercicio Colunas */
.columns {
    height: 100vh;
    padding: 20px;
    border: 1px solid black;
    display: flex;
    gap: 1rem;

}

aside, main {
    text-align: center;
    border: 1px solid darkred;
}

aside {
    flex-basis: 25%;
}

main {
    flex-grow: 1;
}

/* minha solução colunas */
/*.items {
    border: 1px solid darkred;
    text-align: center;
}

.items:nth-child(1) {
    flex-grow: 1;
}
.items:nth-child(2) {
    flex-grow: 2;
}*/

/* galeria fotos */

.galeria {
    padding: 20px;
    border: 1px solid indianred;
    display: flex;
    flex-wrap: wrap;
    gap: .8rem;
    justify-content: center;
}

.galeria-items {
    width: 30%;
    height: auto;
}

#div-button {
    padding: 15px;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

button {
    display: flex;
    align-items: center;
    line-height: 0;
    gap: .4rem;
    padding: .5rem;
}

#btn-B {
    flex-direction: row-reverse;
}

button img {
    width: 2rem;
    height: 2rem;
}

#footer {
    background: #08f17d;
    display: flex;
    justify-content: center;
    align-items: center;
    height:  8rem;
}

/*
Minha solução

#button {
    margin: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

a {
    background-color: #08f17d;
    text-decoration: none;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: .4rem;
}
a img {
    width: 2rem;
}

#button-b {
    flex-direction: row-reverse;
}
*/

