<form action="/cadastrado" method="POST">
    <h3>Nome:</h3>
    <input type="text" name="nome">
    <h3>Idade:</h3>
    <input type="number" name="idade">
    <button type="submit" >Cadastrar Usuario</button>
</form>