<!DOCTYPE html>
    <link rel="stylesheet" href="public/style.css">
    <%- include('../partials/head'); %>
<body>
    <main>
        <%- include('../partials/header'); %>

        <%- include('../partials/home'); %>
        
    </main>

    

    <%- include('../partials/footer'); %>
</body>
</html>




