<%- include("partials/header.html") %>


    <section class="outras-noticias">
        <div class="title-outras-noticias">
            <h2>Busca: </h2>
            <br><br>
            <div class="center">
                
                
                <!-- mais lidas  -->
                <div style="width: 100%;" class="mais-lidas">
                    <h3>33 resultados</h3>
                    <!-- TEMAS  -->
                    <div class="tema-mais-lidas">
                        <div class="tema-natureza box-tema">
                            <img class="img-tema" src="/public/image/natureza1.png" alt="">
                            <div class="text-tema">
                                <h4>NATUREZA</h4>
                                <p>A importância da floresta do ártico para a biodiversidade mundial. Qual o impacto o
                                    degelo na fauna e flora?</p>
                                <a href="/encarar-o-surf">Saiba Mais</a>
                            </div>
                        </div>

                        <div class="tema-animal box-tema">
                            <img class="img-tema" src="/public/image/mundoanimal.png" alt="">
                            <div class="text-tema">
                                <h4>MUNDO ANIMAL</h4>
                                <p>Com idade avançada, leão do Parque Dois Irmãos é diagnosticado com câncer e recebe
                                    tratamento. Espécie está ameaçada de
                                    extinção.</p>
                                <a href="/encarar-o-surf">Saiba Mais</a>
                            </div>
                        </div>

                        <div class="tema-tecnologia box-tema">
                            <img class="img-tema" src="/public/image/tecnologia.png" alt="">
                            <div class="text-tema">
                                <h4>TECNOLOGIA</h4>
                                <p>O impacto do uso de fones de ouvido a longo prazo. Descubra como esse dispositivo
                                    pode afetar sua audição sem você nem
                                    perceber.</p>
                                <a href="/encarar-o-surf">Saiba Mais</a>
                            </div>
                        </div>

                        <div class="tema-lifestyle box-tema">
                            <img class="img-tema" src="/public/image/lifestyle.png" alt="">
                            <div class="text-tema">
                                <h4>LIFESTYLE</h4>
                                <p>Fazer uma viagem sempre é um momento incrível para a família. Descubra os melhores
                                    destinos para 2021.</p>
                                <a href="/encarar-o-surf">Saiba Mais</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include("partials/footer.html") %>

        </body>

        </html>