<%- include("partials/header.html") %>

    <section class="noticia-destaque">
        <div class="center">
            <div class="img-destaque">
                <div class="overlays-destaque"></div>

                <div class="title-destaque-descricao">
                    <a href="/public">
                        <h2>Que fugir das praias do litorial?</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. and scrambled it to make a type specimen
                        book.</p>
                    </a>
                </div>
                <img src="/public/image/landscape.jpg" alt="">

            </div>
        </div>
    </section>

    <section class="outras-noticias">
        <div class="title-outras-noticias">
            <h2>Ultimas Noticias</h2>
            <br><br>
            <div class="center">
                <div class="ultimas">

                    <div class="box-ultimas-single">
                        <img src="/public/image/noticia.jpg" alt="">
                        <div class="conteudo-noticia-sigle">
                        <h3>Natureza Geral</h3>
                        <h2>Como encarar o surf em Salvador</h2>
                        <p>A agua gelada e o vento podem acabar com a sua feliciada de ir ara a agua.</p>
                        <a href="/encarar-o-surf">Saiba Mais</a>
                    </div>
                    </div>
                    <div class="box-ultimas-single">
                        <img src="/public/image/noticia.jpg" alt="">
                        <div class="conteudo-noticia-dingle">
                        <h3>Natureza Geral</h3>
                        <h2>Como encarar o surf em Salvador</h2>
                        <p>A agua gelada e o vento podem acabar com a sua feliciada de ir ara a agua.</p>
                        <a href="/encarar-o-surf">Saiba Mais</a>
                    </div>
                    </div>
                </div>
                <!-- mais lidas  -->
                <div class="mais-lidas">
                    <h3>Mais Lidas</h3>
                    <!-- TEMAS  -->
                    <div class="tema-mais-lidas">
                        <div class="tema-natureza box-tema">
                            <img class="img-tema" src="/public/image/natureza1.png" alt="">
                            <div class="text-tema">
                                <h4>NATUREZA</h4>
                                <p>A importância da floresta do ártico para a biodiversidade mundial. Qual o impacto o degelo na fauna e flora?</p>
                                <a href="/encarar-o-surf">Saiba Mais</a>
                            </div>
                        </div>
                        
                        <div class="tema-animal box-tema">
                            <img class="img-tema" src="/public/image/mundoanimal.png" alt="">
                            <div class="text-tema">
                                <h4>MUNDO ANIMAL</h4>
                                <p>Com idade avançada, leão do Parque Dois Irmãos é diagnosticado com câncer e recebe tratamento. Espécie está ameaçada de
                                extinção.</p>
                                <a href="/encarar-o-surf">Saiba Mais</a>
                            </div>
                            </div>
                            
                            <div class="tema-tecnologia box-tema">
                            <img class="img-tema" src="/public/image/tecnologia.png" alt="">
                            <div class="text-tema">
                                <h4>TECNOLOGIA</h4>
                                <p>O impacto do uso de fones de ouvido a longo prazo. Descubra como esse dispositivo pode afetar sua audição sem você nem
                                perceber.</p>
                                <a href="/encarar-o-surf">Saiba Mais</a>
                            </div>
                        </div>

                        <div class="tema-lifestyle box-tema">
                            <img class="img-tema" src="/public/image/lifestyle.png" alt="">
                            <div class="text-tema">
                                <h4>LIFESTYLE</h4>
                                <p>Fazer uma viagem sempre é um momento incrível para a família. Descubra os melhores destinos para 2021.</p>
                                <a href="/encarar-o-surf">Saiba Mais</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include("partials/footer.html") %>

</body>
</html>