* {
    margin: 0;
}

body {
    min-height: 100vh;
    display: flex;
}

footer {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: 8rem;
    margin-top: auto;
    background: black;
    color: white;
    font-size: 25px;
}