    <footer>
        <nav>
            <ul>
                <li class="menu-footer">Treina Web</li>
                <li class="menu-footer">Artigo EJS</li>
                <li class="menu-footer">Autor: Mário Carvalho</li>
            </ul>
        </nav>
    </footer>
</body>

</html>