


<body>
    <nav>
        <ul id="menu">
            <li class="menu-item"><a href="">Home</a></li>
            <li class="menu-item"><a href="">Pessoas</a></li>
            <li class="menu-item"><a href="">Contato</a></li>
        </ul>
    </nav>
