<ul id="list">
    <% for(let i = 0; i < pessoas.length; i++) { %>
    <li class="list-item">
        Nome: <%= pessoas[i].nome %> 
    </li>
    <li class="list-item">
        Idade: <%= pessoas[i].idade %>
        <br>
        <br>
    </li>
    <% } %>
</ul>