<form action="" method="post">
    <H3>Nome: </H3>
    <input type="text" name="nome">
    <H3>CPF: </H3>
    <input type="number" name="cpf">
    <H3>Email: </H3>
    <input type="text" name="email">
    <H3>Idade: </H3>
    <input type="number" name="idade">
</form>